body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font: 1rem;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    text-align: center;
}
.picture {
border:5px solid white;
width: 100%;
}